<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/musicDBcss.css" th:href="@{/css/musicDBcss.css}">
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="header">
	<h1 class="text-center">AKF Music Database</h1> 
	<div>
	<h2 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h2>
	<form th:action="@{/logout}" method="post">
		<input class="button1" type="submit" value="Sign Out"/>
	</form>
	</div>
</div>
<div>
<ul>
  <li><a href="/songlist">Home</a></li>
  <li><a href="/genrelist">Genre List</a></li>
  <li><a href="/playlists">Playlists</a></li>
  <li><a class="active" href="/about">About</a></li>
</ul>
</div>

<p class="text-center">
This site was created as a practice project for a course ran by Haaga-Helia UAS.
</p>

<p class="text-center">
Feel free to test it out by adding some songs, genres or playlists!
</p>



</body>