<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/musicDBcss.css" th:href="@{/css/musicDBcss.css}" />
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="header">
	<h1 class="text-center">AKF Music Database</h1> 
	<div>
	<h2 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h2>
	<form th:action="@{/logout}" method="post">
		<input class="button1" type="submit" value="Sign Out"/>
	</form>
	</div>
</div>
<div>
	<ul>
  		<li><a href="/songlist">Home</a></li>
  		<li><a href="/genrelist">Genre List</a></li>
  		<li><a href="/playlists">Playlists</a></li>
  		<li><a href="/about">About</a></li>
	</ul>
</div>

	<form class="form-horizontal" th:object="${genre}" th:action="@{savegenre}" action="#" method="post">
	<div class="form-group" style=padding-left:10px>
		<label for="genre" class="col-sm-2 control-label">Genre</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="genre" th:field="*{name}"/>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors">Error</span>
		</div>
	</div>
	<div style="padding-left:10px; padding-top:10px">
	<input type="submit" value="Save" class="button1"></input>
	</div>
	</form>
	<div style="padding-left:10px; padding-top:10px">
		<a href="/genrelist" class="button1">Return to genrelist</a>
	</div>


</body>

</html>