<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/musicDBcss.css" th:href="@{/css/musicDBcss.css}">
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="header">
	<h1 class="text-center">AKF Music Database</h1> 
	<div>
	<h2 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h2>
	<form th:action="@{/logout}" method="post">
		<input class="button1" type="submit" value="Sign Out"/>
	</form>
	</div>
</div>


<form class="form-horizontal" th:object="${song}" th:action="@{../save}" action="#" method="post">
	
	<label for="id"></label>
	<input type="hidden" class="form-control" id="songId" th:field="*{songId}" readonly="readonly"/>
	
	<div class="form-group" style=padding-left:10px>
		<label for="title" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="title" th:field="*{title}"/>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="errors">Error</span>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="artist" class="col-sm-2 control-label">Artist</label>
		<div class="col-sm-10">	
			<input type="text" class="form-control" id="artist" th:field="*{artist}"/>
			<span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}" class="errors">Error</span>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="album" class="col-sm-2 control-label">Album</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="album" th:field="*{album}"/>
			<span th:if="${#fields.hasErrors('album')}" th:errors="*{album}" class="errors">Error</span>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="year" class="col-sm-2 control-label">Year</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="year" th:field="*{year}"/>
			<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="errors">Error</span>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="length" class="col-sm-2 control-label">Length</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="length" th:field="*{length}"/>
			<span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="errors">Error</span>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="genre" class="col-sm-2 control-label">Genre</label>
		<div class="col-sm-10">
			<select id="genre" class="form-control" th:field="*{genre.genreId}">
				<option th:each="genre: ${genres}"
					th:value="${genre.genreId}"
					th:text="${genre.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group" style=padding-left:10px>
		<label for="playlist" class="col-sm-2 control-label">Playlist</label>
		<div class="col-sm-10">
			<select id="playlist" class="form-control" th:field="*{playlists}">
				<option th:each="playlist: ${playlists}"
					th:value="${playlist.playlistId}"
					th:text="${playlist.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Save" class="button1"></input>
		</div>
	</div>
</form>
<div style="padding-left:10px; padding-top:10px">
	<a href="/songlist" class="button1">Return to songlist</a>
</div>

</body>

</html>