<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1 class="text-center">List of music genres</h1>

<table class="table table-striped">

	<tr>
		<th>Genre</th>
	</tr>
	
	<tr th:each = "genre : ${genres}">
		<td th:text="${genre.name}"></td>
		<!-- <td><a th:href="@{/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a></td> -->
		<!-- <td><a th:href="@{/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a></td> -->
	</tr>

</table>
<div style=padding-left:10px>
<a sec:authorize="hasAuthority('ADMIN')" href="/addgenre" class="btn btn-success">Add a new genre</a>
</div>
<div style="padding-left:10px; padding-top:10px">
	<a href="/songlist" class="btn btn-success">Return to songlist</a>
</div>
</body>

</html>