<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/musicDBcss.css" th:href="@{/css/musicDBcss.css}">
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body >

<div class="header">
	<h1 class="text-center">AKF Music Database</h1> 
	<div>
	<h2 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h2>
	<form th:action="@{/logout}" method="post">
		<input class="button1" type="submit" value="Sign Out"/>
	</form>
	</div>
</div>

<table class="table table-striped">

	<tr>
		<th>Playlist</th>
	</tr>
	
	<tr th:each = "playlist : ${playlists}">
		<td th:text="${playlist.name}"></td>
		<!-- <td><a th:href="@{/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a></td> -->
		<!-- <td><a th:href="@{/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a></td> -->
	</tr>

</table>
<div style=padding-left:10px>
<a sec:authorize="hasAuthority('ADMIN')" href="/addplaylist" class="button1">Create a new playlist</a>
</div>
<div style="padding-left:10px; padding-top:20px">
	<a href="/songlist" class="button1">Return to songlist</a>
</div>
</body>

</html>