<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/musicDBcss.css" th:href="@{/css/musicDBcss.css}">
<head>
<title>AKF Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="header">
	<h1 class="text-center">AKF Music Database</h1> 
	<div>
	<h2 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h2>
	<form th:action="@{/logout}" method="post">
		<input class="button1" type="submit" value="Sign Out"/>
	</form>
	</div>
</div>

<table class="table table-striped">

	<tr>
		<th>Title</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Year</th>
		<th>Length</th>
		<th>Genre</th>
		<th>Playlist</th>
		<th></th>
		<th></th>
	</tr>
	
	<tr th:each = "song : ${songs}">
		<td th:text="${song.title}"></td>
		<td th:text="${song.artist}"></td>
		<td th:text="${song.album}"></td>
		<td th:text="${song.year}"></td>
		<td th:text="${song.length}"></td>
		<td th:text="${song.genre.name}"></td>
		<td>
			<span th:if="${song.playlists.isEmpty() == true}">Not on any playlist</span>
			<span th:unless="${song.playlists.isEmpty() == true}" th:text="${song.playlists.iterator().next().name}"></span>
		</td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${song.songId})}" class="buttondelete">Delete</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${song.songId})}" class="button1">Edit</a></td>
	</tr>

</table>
<div style="padding-left:10px">
	<a sec:authorize="hasAuthority('ADMIN')" href="/addsong" class="button1">Add a new song</a>
</div>
<div style="padding-left:10px; padding-top:20px">
<a href="/genrelist" class="button1">Genre List</a>
<a href="/playlists" class="button1">Playlists</a>
</div>

</body>